*{
    padding: 0px;
    margin: 0px auto;
}
.wrapper{
    width: 1200px;
    height: 800px;
    border: 1px solid;
    position: relative;
}
header{
    width: 100%;
    height: 100px;
    background-color: pink;
    border: 1px solid;
    position: absolute;
    top: 0px;
    text-align: center;
}
section{
    width: 100%;
    height: 600px;
    background-color: pink;
    border: 1px solid;
    position: absolute;
    top: 100px;
    text-align: center;
}
footer{
    width: 100%;
    height: 100px;
    background-color: pink;
    border: 1px solid;
    position: absolute;
    bottom: 0px;
    text-align: center;
}